{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "importOrder": [
    "^react\\-icons",
    "^[react]",
    "^[next]",
    "^@(?!/)",
    "^@/components/shared/",
    "^@/components/ui/",
    "^@/components/lab/",
    "^@/components/motion/",
    "^@/components/",
    "^@/",
    "^@/lib/",
    "^@/types/",
    "^@/public/",
    "^[./]"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
