.toast {
  background-color: var(--color-popover);
  color: var(--color-popover-foreground);
  border-radius: 0.5rem;
  border: 1px solid var(--color-border);
  box-shadow: var(--shadow-xs);
  padding: 0.5rem 1rem 0.5rem 0.75rem;
  font-size: 0.875rem;
  cursor: grab;
  width: 100%;
  display: flex;
  align-items: center;
}

@media (min-width: 640px) {
  .toast {
    width: 356px;
  }
}

.title {
  font-weight: 600;
}

.description {
  color: var(--color-muted-foreground);
}

/* ICON VARIANT */

.icon {
  color: var(--color-popover-foreground);
  margin-right: 0.5rem;
}

svg.info {
  color: var(--color-popover);
  fill: var(--color-blue-500);
}

svg.success {
  color: var(--color-popover);
  fill: var(--color-green-500);
}

svg.destructive {
  color: var(--color-popover);
  fill: var(--color-red-500);
}

.close-button {
  position: absolute;
  top: -0.25rem;
  right: -0.25rem;
  color: var(--color-popover-foreground);
  background-color: var(--color-popover);
  border-radius: 50%;
  border: 1px solid var(--color-border);
  padding: 0.125rem;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  font-size: 1.25rem;
}
